%li.tweet.image-post
  .title.username
    %h3
      = "@#{tweet[:user]}"
  .post-body
    = image_tag tweet[:profile_image]
  .caption
    .tweet= tweet[:text]
    .timestamp= tweet[:time].to_s(:long_ordinal)

