%li.tweet.image-post
  %a{href: tweet.url}
    .title.username
      %h3
        = image_tag "twitterfavicon.png"
        = "@#{tweet.user}"
  .post-body
    = image_tag tweet.image_tag
  .caption
    .tweet= raw(tweet.text)
    = pretty_time(tweet.post_time)
    = render "feed_items/like", feed_item: tweet

    .make-me-famous
      <a href="http://twitter.com/share" class="twitter-share-button" data-text='"RT @#{tweet.user} #{raw(tweet.text)}" via ' data-count="none" data-url="http://nerdnearby.com" >Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

