.logo
  %h1
    = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
  = image_tag 'glasses.png'

- if !(params[:lat])
  #iphone_app= link_to image_tag("/images/iphoneBadgeSmall.jpg"), "http://bit.ly/kcHjVY"
.overlay
#map_canvas{ "data-lat" => params[:lat], "data-lng" => params[:lng] }

.feed-items
  = render partial: "index", locals: {feed_items: @feed_items}
  
%p
  Reach us on twitter: 
  = link_to "@nerdnearby", "http://twitter.com/nerdnearby"
  Made at TC Disrupt Hackathon '11 by
  = link_to "@jocelynleavitt", "http://twitter.com/jocelynleavitt"
  = link_to "@samj0hn", "http://twitter.com/samj0hn"
  = link_to "@seanmoon", "http://twitter.com/seanmoon"
  = link_to "@evan_farrar", "http://twitter.com/evan_farrar"

- if !@mobile_request
  .share
    .twitter <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="NerdNearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    .facebook
      <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=186595491391516&amp;xfbml=1"></script><fb:like href="http://nerdnearby.com" send="false" layout="box_count" width="450" show_faces="true" font=""></fb:like>
