%li.foursquare.image-post
  %a{href: tip[:url]}
    .title.venue
      %h3
        = image_tag "foursquarefavicon.png"
        = tip[:venue]
  .caption
    .text= raw(tip[:text])
    .address= raw(tip[:address])
    .time= pretty_time(tip[:time])
    .like{ "data-like" => tip.to_json }
      = link_to "Like", "#"


