%li.flickr.image-post
  %a{href: instagram[:url]}
    .title.place-name
      %h3
        = image_tag "flickrfavicon.png"
        - if instagram[:checkin_text].blank?
          flickr post
        - else
          = raw(instagram[:checkin_text])
  .post-body
    = image_tag instagram[:image_tag]
  .checkin-text.caption
    = instagram[:place_name]
    .original= link_to "See original", instagram[:url]
    .make-me-famous
      <a href="http://twitter.com/share" class="twitter-share-button" data-url='http://nerdnearby.com' data-text="#{instagram[:url]} I found this near me!" data-count="none" data-via="nerdnearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

