%li.instagram.image-post
  %a{href: instagram[:url]}
    .title.place-name
      %h3
        = image_tag "instagramfavicon.png"
        - if instagram[:checkin_text].blank?
          = "instagram post"
        - else
          = raw(instagram[:checkin_text])
  .post-body
    = image_tag instagram[:image_tag]
  .checkin-text.caption
    = instagram[:place_name]
    = pretty_time(instagram[:time])
    .make-me-famous
      =link_to "twitter", "twitter://timeline"
      -# <a href="twitter://timeline" class="twitter-share-button" data-url='nerdnearby.com' data-text="Found near me: #{instagram[:url]}" data-count="none" data-via="nerdnearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

