%li.instagram.image-post
  %a{href: instagram[:url]}
    .title.place-name
      %h3
        = image_tag "instagramfavicon.png"
        - if instagram[:text].blank?
          = "instagram post"
        - else
          = raw(instagram[:text])
  .post-body
    = image_tag instagram[:image_tag]
  .checkin-text.caption
    = instagram[:name]
    = pretty_time(instagram[:time])
    .like{ "data-like" => instagram.to_json }
      - if(instagram[:id])
        Someone liked this by you!
      - else
        = link_to "Like", "#"

    .make-me-famous
      <a href="http://twitter.com/share" class="twitter-share-button" data-url='nerdnearby.com' data-text="Found near me: #{instagram[:url]}" data-count="none" data-via="nerdnearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

