%li.instagram.image-post
  .title.place-name
    %h3
      = image_tag "instagramfavicon.png"
      = instagram[:checkin_text]||"instagram post"
  .post-body
    = image_tag instagram[:image_tag]
  .checkin-text.caption
    = instagram[:place_name]
    = instagram[:time].strftime("%A %I:%m %p")

