%li.instagram.image-post
  %a{href: instagram.url}
    .title.place-name
      %h3
        = image_tag "instagramfavicon.png"
        - if instagram.text.blank?
          = "instagram post"
        - else
          = raw(instagram.text)
  .post-body
    = image_tag instagram.image_tag
  .checkin-text.caption
    = instagram.name
    = pretty_time(instagram.post_time)
    = render "feed_items/like", feed_item: instagram

    .make-me-famous
      <a href="http://twitter.com/share" class="twitter-share-button" data-url='nerdnearby.com' data-text="Found near me: #{instagram.url}" data-count="none" data-via="nerdnearby">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      