%li.instagram.image-post
  .title.place-name
    %h3
      = image_tag "instagramfavicon.png"
      = raw(instagram[:checkin_text])||"instagram post"
  .post-body
    = image_tag instagram[:image_tag]
  .checkin-text.caption
    = instagram[:place_name]
    = pretty_time(instagram[:time])

