!!!
%html
  %head
    %title Locations
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %h1
      = 'nerd <span class="green">[</span>nearby</span><span class="green">]</span>'.html_safe
    = image_tag 'glasses.png'
    = yield
