!!!
%html
  %head
    %title Nerd Nearby - Aggregating social media near you
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %meta{name:"viewport", content: "initial-scale=1.0, user-scalable=no"}
    <meta property="og:title" content="Nerd Nearby - Aggregating social media near you" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://nerdnearby.com" />
    <meta property="og:image" content="http://nerdnearby.com/images/glasses.png" />
    <meta property="og:site_name" content="Nerd Nearby" />
    <meta property="fb:admins" content="113094" />
  %body
    #parapper.wrapper
      = yield
